<div class="subscribe">
  <div class="info_news">
    <p class="title_label">Contact an advisor</p>
    <p>Available 24/7.
      To speak with a Customer Care Representative, call 
      <a href="#">1-866-235-5443</a>
      or use the email service below.</p>
    <div style="display: flex;">
      <a href="#">Call</a>
      <a href="#" style="margin-left: 20px;">Email</a>
    </div>
  </div>
  <div class="info_news">
    <p class="title_label">Find a store</p>
    <p>Click geolocation below to find the closest BELK stores</p>
    <div style="display: flex;">
      <svg style="width:18px;height:18px;display:inline-flex;align-self: center;margin-right: 5px;" viewBox="0 0 24 24">
        <path fill="#000000" d="M12,8A4,4 0 0,1 16,12A4,4 0 0,1 12,16A4,4 0 0,1 8,12A4,4 0 0,1 12,8M3.05,13H1V11H3.05C3.5,6.83 6.83,3.5 11,3.05V1H13V3.05C17.17,3.5 20.5,6.83 20.95,11H23V13H20.95C20.5,17.17 17.17,20.5 13,20.95V23H11V20.95C6.83,20.5 3.5,17.17 3.05,13M12,5A7,7 0 0,0 5,12A7,7 0 0,0 12,19A7,7 0 0,0 19,12A7,7 0 0,0 12,5Z" />
    </svg>
      <a href="https://www.google.com/maps/search/belk+store/@30.2266107,-81.615497,12z/data=!3m1!4b1" target="_blank">Geolocation</a></div>
  </div>
  <form action="https://www.freecodecamp.com/email-submit" id="form" class="info_news form-inline">
    <div class="form-group">
      <label for="email" id="email-label" class="title_label">Newsletter</label>
      <p>Subscribe to receive news from Belk</p>
      <div style="display:flex;">
          <input name="email" id="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter your email" required>
          <input type="submit" value="Ok" id="submit" class="btn btn-default">
      </div><br />
      <small id="emailHelp" class="form-text text-muted">
        I agree to the <a href="#">Privacy Policy</a>
      </small>
    </div>
  </form>
</div>

<div class="sec_fixed">
  <div class="footer_page">
    <img src="https://static1.squarespace.com/static/563d0acce4b0af3807b69a54/564a87f9e4b06eb2db98c76b/564bab30e4b09c82ca0362b4/1447799678344/Belk-logo-white.png" alt="">
  </div>
</div>

