<div id="home">
  <div class="container_v">
    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/nm-UHgBDu4k?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1" frameborder="0" allowfullscreen class="video"></iframe>
  </div>
  <div class="home_content">
    <p>Harry Winston</p>
    <h2>Say yes to perfaction</h2>
    <div class="see_more_box">
      <a href="https://www.harrywinston.com/en" target="_blank" class="see_more">See More</a>
    </div>
  </div>
</div>
<div class="section" id="jewelry">
  <img class="full_image" src="https://cdn2.i-scmp.com/sites/default/files/images/methode/2017/12/11/001e6546-c9d8-11e7-9743-ef57fdb29dbc_1320x770_150923.jpg" alt="">
    <div class="section_content">
      <p>High Jewelry</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a routerLink="/jewelry" class="see_more">See More</a>
      </div>
    </div>
</div>
<div class="section" id="fashion">
  <img class="full_image" src="https://fsalonandspa.com/images/blog/fsalon_blog_landing.jpg" alt="">
    <div class="section_content">
      <p>Fashion</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a routerLink="/fashion" class="see_more">See More</a>
      </div>
    </div>
</div>
<div class="section" id="bags">
  <img class="full_image" src="https://images.unsplash.com/photo-1526326881828-23b172e634de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="">
    <div class="section_content">
      <p>Bags</p>
      <h2>Pick the style you like</h2>
      <div class="see_more_box">
        <a routerLink="/bags" class="see_more">See More</a>
      </div>
    </div>
</div>
