<header id="header">
  <nav id="nav-bar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink=""><img id="header-img" class="bg_brand" src="https://belk.scene7.com/is/image/Belk/Belk-Logo-Black?$DWP_HEADER_LOGO$" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="brand-mobile"><a routerLink=""><img class="bg_brand" src="https://belk.scene7.com/is/image/Belk/Belk-Logo-Black?$DWP_HEADER_LOGO$" alt=""></a></li>
          <li><a class="nav-link" routerLink="/jewelry">Jewelry</a></li>
          <li><a class="nav-link" routerLink="/fashion">Fashion</a></li>
          <li><a class="nav-link" routerLink="/bags">Bags</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
